.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

.center{
    width: 430px;
    height: 547px;
    border-radius: 0.75rem/* 12px */;
    /* direction: rtl; */
}

/* Текст слева направо */
.text_ltr {
    direction: ltr;
  }
  
  /* Текст справа налево */
  .text_rtl {
    direction: rtl;
  }

  .fullItem {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.427);
    z-index: 9999;
    overflow: auto;
  }
  
  .fullItem > div{
  width: 450px;
  position: relative;
  margin: 10% auto;
  padding: 40px 30px;
  background: white;
  border-radius: 9px;
  
  }

  main .add_to_card:hover,
.fullItem .add_to_card:hover {
  transform: scale(1.5) translateY(-5px);
}

main .add_to_card,
.fullItem .add_to_card {
  position: absolute;
  right: 20px;
  top:20px;
  /* bottom: 20px; */
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 9px;
  cursor: pointer;
  font-weight: 600;
}