.box {
    
  }
  
  
  .box .rectangle-2 {
    background-color: #22ACA3;
    height: 117px;
    left: 0;
    position: absolute;
    top: 180px;
    width: 42px;
  }
  
  .box .rectangle-3 {
    background-color: #22ACA3;
    height: 117px;
    left: 0;
    position: absolute;
    top: 302px;
    width: 42px;
  }
  
  .box .rectangle-4 {
    background-color: #22ACA3;
    border-radius: 5px 5px 0px 0px;
    height: 50px;
    left: 0;
    position: absolute;
    top: 0;
    width: 110px;
  }
  
  .box .text-wrapper {
    color: white;
    font-family: "Rubik-Bold", Helvetica;
    font-size: 16px;
    font-weight: 700;
    left: 20px;
    letter-spacing: 0;
    line-height: 21px;
    position: absolute;
    top: 15px;
    white-space: nowrap;
  }
  
  .box .element {
    color: white;
    font-family: "Rubik-Bold", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: -3px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 106px;
    transform: rotate(-90deg);
    white-space: nowrap;
  }
  
  .box .span {
    font-weight: 700;
  }
  
  .box .text-wrapper-2 {
    font-family: "Rubik-Light", Helvetica;
    font-weight: 300;
  }
  
  .box .p {
    color: #ffffff;
    font-family: "Rubik-Bold", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: -4px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 227px;
    transform: rotate(-90deg);
    white-space: nowrap;
  }
  
  .box .element-2 {
    color: #ffffff;
    font-family: "Rubik-Bold", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: -4px;
    letter-spacing: 0;
    line-height: 24px;
    position: absolute;
    top: 349px;
    transform: rotate(-90deg);
    white-space: nowrap;
  }